body{
    background-color: rgb(79, 101, 226);
}
button{
    margin-right: 10px;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 17px;
    color:rgb(166, 58, 199) ;
    
}

button:hover{
    cursor: pointer;
    color: rgb(101, 170, 202);
}